.contact{
    background: linear-gradient(0deg, rgba(0, 83, 160, 0.16) 0%, rgba(217, 217, 217, 0) 34.2%);
    padding: 100px 0;
    &__inner{
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 300px;
    }
    &__form{
        width: 450px;
        height: 550px;
        border: 5px solid $blue;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    &__media{
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
    &__text{
        font-size: 20px;
        color: #fff;
    }
    &__tell{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__square{
        width: 60px;
        height: 60px;
        border-radius: 8px;
        background: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 60%;
            height: 60%;
        }
    }
    &__box{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__logo{
        font-size: 110px;
    }
    &__input{
        font-weight: 100;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 2px solid $blue;
        background: none;
        padding: 10px 2px;
        color: #fff;
        font-size: 20px;
    }
    &__title{
        color: #fff;
        font-size: 30px;
    }
}