.contact{
    padding: 100px 0 0 0;
    &__form{
        max-width: 1000px;
        margin: 100px auto 40px auto;
    }
    &__inner{
        display: flex;
        gap: 40px;
    }
    &__name{
        background: none;
        border-bottom:2px solid $blue;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 4px 6px;
        font-size: 20px;
        width: 48%;
        color: white;
    }
    &__text{
        height: 300px;
        width: 100%;
        margin-top: 20px;
        background: none;
        border-bottom:2px solid $blue;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 20px;
        color: white;
    }
    &__button{
        display: block;
        margin: 30px auto 0 auto;
    }
}