.promo{
    padding: 100px 0;
    background: #d6d6d610;
    &__inner{
        align-items: center;
        display: flex;
        margin-top: 100px;
        margin-top: 80px;
        gap: 5%;
        margin-left: 200px;
    }
    &__img{
        width: 500px;
        height: 500px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__descr{
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
    &__hello{
        span{
            color: $blue;
        }
        font-size: 24px;
    }
    &__text{
        max-width: 600px;
        font-size: 17px;
        line-height: 29px;
        color: $graite;
    }
    &__inf{
        width: 100%;
        padding: 30px 30px;
        border: 2px solid $blue;
        display: flex;
        align-items: center;
        gap: 90px;
    }
    &__list{
        display:flex;
        flex-direction:column;
        gap:20px;
        span{
            color: $blue;
        }
    }

}