.services{
    padding: 100px 0;
    background: #d6d6d610;

    &__wissens{
        margin-top: 40px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 40px 10px;
    }
    &__inner{
        margin-top: 100px;
        display: flex;
        gap: 200px;
        align-items: center;
        justify-content: center;
    }
    &__img{
        height: 350px;
        width: 500px;

    }
    &__block{
        max-width: 450px;
        display: flex;
        flex-direction: column;
    }
    &__title{
        width: 200px;
        color: #ffffff;
    }
    &__text{
        margin-top: 50px;
        margin-bottom: 50px;
        color: $graite;
        font-size: 20px;
        line-height: 32px;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        gap: 60px;
    }
    &__bar{
        width: 83%;
        height: 100%;
        border-radius: 10px 0 0 10px;
        background: $blue;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
    &__input{
        &-html{
            display: flex;
            gap: 20px;
            width: 230px;
            height: 14px;
            border-radius: 10px;
            background: #747474;
        }
    }
    &__titles{
        color: #fff;
        text-align: center;
        font-size: 25px;
        margin-top: 80px;
    }
    &__ihner{
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__chkala{
        width: 500px;
        height: 10px;
        background: #333333;
    }
    &__txt{
        color: #fff;
        font-size: 20px;
    }
    &__procent{
        color: $graite;
    }
}

.sercle{
    width: 18px;
    height: 18px;
    background: $blue;
    border-radius: 10px;
 
    box-shadow: 0px 0px 12px 2px $blue;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.html{
    width: 80%;
    height: 100%;
    background: $blue;
    border-radius: 0 10px 10px 0;
}

.css{
    width: 84%;
    height: 100%;
    background: $blue;
    border-radius: 0 10px 10px 0;
}

.js{
    width: 58%;
    height: 100%;
    background: $blue;
    border-radius: 0 10px 10px 0;
}

.react{
    width: 54%;
    height: 100%;
    background: $blue;
    border-radius: 0 10px 10px 0;
}

.git{
    width: 90%;
    height: 100%;
    background: $blue;
    border-radius: 0 10px 10px 0;
}

.figma{
    width: 64%;
    height: 100%;
    background: $blue;
    border-radius: 0 10px 10px 0;
}