.skills{
    padding: 100px 0;
    &__block{
        width: 400px;
        height: 250px;
        border: 3px solid $blue;
        border-radius: 10px; 
        padding: 30px 40px;
    }
    &__inner{
        justify-items: center;
        margin-top: 150px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 100px 50px;
    }
    &__titles{
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 20px;
    }
    &__title{
        margin-left: 30px;
    }
    &__text{
        margin-top: 20px;
        color: $graite;
        line-height: 30px;
        font-size: 17px;
    }
}