.title{
    padding-top: 50px;
    text-align: center;
    color: #fff;
    font-size: 600;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title::after{
    content: '';
    display: block;
    height: 36px;
    width: 10px;
    border: 6px solid $blue;
    transform: skew(-20deg);
    border-top: none;
    border-bottom: none;
    margin-left: 40px;
}

.title::before{
    content: '';
    display: block;
    height: 36px;
    width: 10px;
    border: 6px solid $blue;
    transform: skew(-20deg);
    border-top: none;
    border-bottom: none;
    margin-right: 40px;
}